<a href="https://colab.research.google.com/github/NagatoARS/Works_Python_Course/blob/main/%D0%94%D0%B7_%D0%BF%D0%BE_%D0%9F%D0%B8%D1%82%D0%BE%D0%BD%D1%83_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание 1

In [ ]:
import datetime
date1 = datetime.date(2002, 10, 2)
print(date1.strftime('%Y-%m-%d'))

2002-10-02

In [ ]:
date2 = datetime.date( 11, 10, 13)
print(date2.strftime('%d-%m-%y'))

13-10-11

In [ ]:
date3 = datetime.date(1977, 8, 18)
print(date3.strftime('%Y-%m-%d'))

1977-08-18

Задание 2

In [ ]:
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
def check_date_is_correct(date, date_format='%Y-%m-%d'):
    try:
        datetime.strptime(date, date_format)
        return True
    except:
        return False
    

for date in stream:
    print(check_date_is_correct(date))

True
False
False

Задание 3

In [ ]:
from datetime import datetime, timedelta

def date_range(start_date, end_date, date_format='%Y-%m-%d'):
    result = []
    try:
        start_date_dt = datetime.strptime(start_date, date_format)
        end_date_dt = datetime.strptime(end_date, date_format)
    except:
        return result

    current_date_dt = start_date_dt
    
    while current_date_dt < end_date_dt:
        result.append(current_date_dt.day)
        current_date_dt += timedelta(days=1)
        
    return result
    
date_range('1999-01-28', '1999-02-05')

[28, 29, 30, 31, 1, 2, 3, 4]