<a href="https://colab.research.google.com/github/NagatoARS/Works_Python_Course/blob/main/%D0%94%D0%B7_%D0%BF%D0%BE_%D0%BF%D0%B8%D1%82%D0%BE%D0%BD%D1%83_%E2%84%962.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задание1

In [ ]:
word='test'
Len1=len(word)
avg=Len1//2
if avg%2 !=0: print(word[avg]);
else: print(word[avg-1],word[avg],sep='')

es

Задание 2

In [ ]:
word=int(input("Введите число: "))
sum=0
while word != 0:
  sum += word
  word=int(input())
print(sum)

Введите число: 1
4
6
0
11

Задание 3.

In [ ]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys) == len(girls):
  print("Идеальная пара:")
  boys.sort()
  girls.sort()
  dating=zip(boys,girls)
  for company in dating:
    print(f"{company[0]} and {company[1]}")
else:
      print("Кто-то может остаться без пары((")

Идеальная пара:
Alex and Emma
Arthur and Kate
John and Kira
Peter and Liza
Richard and Trisha

Задание 4

In [ ]:
countries_temperature = [['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
                         ['Germany', [57.2, 55.4, 59, 59, 53.6]],
                         ['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
                         ['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
                        ]
for Country, Temperature in countries_temperature:
    Tsum = 0
    for T in Temperature:
        Tsum += (T - 32)*5/9
    print('%10s  %5.1f' % (Country, Tsum/len(Temperature)))

  Thailand   23.9
   Germany   13.8
    Russia    3.7
    Poland   12.0